.add {
    padding-left: 10px;
    width: 400px;
}
.butn {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    padding: 7px;
    width: 150px;
    background-color: rgb(151, 151, 151);
    box-shadow: 1px 1px 3px black;
    color: #fff;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
}
.label {
    margin-right: 20px;
    color: #fff;
    text-transform: uppercase;
}
.input {
    width: 255px;
    padding: 7px;
    color: rgb(88, 88, 88);
    border-radius: 7px;
    border: 1px solid rgba(100, 95, 95, 0.76);
    margin-bottom: 20px;
    outline: none;
}